// headings
@font-face {
    font-family: LibreBaskerville;
    font-style: normal;
    font-weight: normal;
    src: url("font/LibreBaskerville-Regular.woff2") format("woff2"),
         url("font/LibreBaskerville-Regular.woff") format("woff");
}
@font-face {
    font-family: LibreBaskerville;
    font-style: normal;
    font-weight: bold;
    src: url("font/LibreBaskerville-Bold.woff2") format("woff2"),
         url("font/LibreBaskerville-Bold.woff") format("woff");
}
@font-face {
    font-family: LibreBaskerville;
    font-style: italic;
    font-weight: normal;
    src: url("font/LibreBaskerville-Italic.woff2") format("woff2"),
         url("font/LibreBaskerville-Italic.woff") format("woff");
}

// body text
@font-face {
    font-family: SourceSansPro;
    font-style: normal;
    font-weight: normal;
    src: url("font/SourceSansPro-Regular.woff2") format("woff2"),
         url("font/SourceSansPro-Regular.woff") format("woff");
}
@font-face {
    font-family: SourceSansPro;
    font-style: italic;
    font-weight: normal;
    src: url("font/SourceSansPro-Italic.woff2") format("woff2"),
         url("font/SourceSansPro-Italic.woff") format("woff");
}
@font-face {
    font-family: SourceSansPro;
    font-style: normal;
    font-weight: bold;
    src: url("font/SourceSansPro-Bold.woff2") format("woff2"),
         url("font/SourceSansPro-Bold.woff") format("woff");
}
@font-face {
    font-family: SourceSansPro;
    font-style: italic;
    font-weight: bold;
    src: url("font/SourceSansPro-Bold-Italic.woff2") format("woff2"),
         url("font/SourceSansPro-Bold-Italic.woff") format("woff");
}


body {
    font-family: SourceSansPro, sans-serif;
    font-size: 20px;
    line-height: 1.4;
}

h1, h2, h3 {
    font-family: LibreBaskerville, serif;
    line-height: 1.2;
}