
// THEMING

// Starry Oak
// https://www.colourlovers.com/palette/85232/Starry_Night

$black: #000000;
$stormy-skies: #7890A8;
$strange-aeons: #304878;
$nobility: #181848;
$paste: #F0A818;


// Autumn Oak
// https://www.colourlovers.com/palette/29411/Autumn_Oak

$fourfourfour: #444444;
$well-behind: #FCF7D1;
$placid: #A9A17A;
$autumn-orange: #B52C00;
$cayenne: #8C0005;


// https://www.colourlovers.com/palette/110996/Part-Time_Super_Girl
$purple: #4B538B;
$grey: #15191D;
$yellow: #F7A21B;
$orange: #E45635;
$pink: #D60257;

// https://www.colourlovers.com/palette/579216/Crowning_Glory