@import 'variables';
@import 'fonts';
@import 'theme';

* {
    transition: width 0.5s;
}

#layout {
    display: flex;
    flex-direction: row;
    padding: 0;
    min-height: 100vh;
}

#collapse-left {
    flex: 1 1 auto;
}


#sidebar {
    padding: 8em 2em 0;
    width: 14em;
    flex: 0 0 auto;

    background: $grey url('img/dark-canvas.gif');
    color: #FFFFFF;

    text-align: right;
    text-shadow: 1px 1px 2px black;

    a {
        color: #FFFFFF;
        text-decoration: none;
    }

    ul {
        list-style:: none;

        li {

        }
    }

    .site-title a {
        color: $yellow;
    }
}

@media (max-width: 1280px) {
    #sidebar {
        width: 10em;
    }
}


#content {
    padding: 8em 2em 0;
    width: 60em;
    flex: 0 1 auto;

    background: #FFFDEE;

    .page-title, .chapter-title {
        color: $purple;
    }
}

#collapse-right {
    flex: 1 1 auto;
}






