<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>All Will Freely Choose</title>
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/site.css">
</head>

<body>
<div id="layout">
  <div id="collapse-left"></div>
  
  <div id="sidebar">
    <h1 class="site-title"><a href="/">All Will Freely Choose</a></h1>

    <a href="/book">Introduction</a>
    
    <h3>Contents</h3>
    {% block sidebar %}
    <ul>
      {% set misc = get_section(path="book/_index.md") %}
      {% for page in misc.pages %}
      <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
      {% endfor %}
    </ul>
    {% endblock sidebar %}


    <h3>Other</h3>
    <ul>
      {% set misc = get_section(path="_index.md") %}
      {% for page in misc.pages %}
      <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
      {% endfor %}
    </ul>

  </div>

  <div id="content">
  {% block content %} {% endblock content %} 
  </div>

  <div id="collapse-right"></div>
</div>
</body>
</html>